@import './variables';
.searchdesign{
    height: $input-height;
    background: $base-bg;
    border: 1px solid $secondary-color;
    color: $text-color;
    font-size: 15px;
    border-radius: 10px 0px 0 10px;
}

input:focus {
    background-color: inherit !important;
    color: $text-color !important;
    border-color: $secondary-color !important;
}

::placeholder {
    color: $text-color !important;
}

.btnDesign{
    height: $input-height;
    border-radius: 0;
    width: 55px;
    color: $primary-color;
    background: $secondary-color;
    border: $text-color;
    border-radius: 0 10px 10px 0;
}